<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/main_layout">

<div layout:fragment="content">
    <!-- SUMMERNOTE CDN -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>-->
    <!--    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">-->

    <!-- SUMMERNOTE LOCAL -->
    <script src="/js/summernote-lite.min.js"></script>
    <script type="text/javascript" src="/js/summernote-ko-KR.min.js"></script>
    <link href="/css/summernote-lite.min.css" rel="stylesheet">

    <link href="/css/kimEditor.css" rel="stylesheet">

    <div class="container">
        <form method="post">
            <textarea id="summernote" name="editordata"></textarea>
        </form>
    </div>


    <script>
        $('#summernote').summernote({
            toolbar: [
                //글씨체 굵게, 기울임, 밑줄, 지우기
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //글씨 취소선, 위에, 아래
                ['font', ['strikethrough', 'superscript', 'subscript']],
                // 글꼴 설정
                ['fontname', ['fontname']],
                //글씨 사이즈
                ['fontsize', ['fontsize']],
                //색상
                ['color', ['color']],
                //정렬
                ['para', ['ul', 'ol', 'paragraph']],
                //줄 높이
                ['height', ['height']]],
            height: 300, // 에디터 높이
            minHeight: null, // 최소 높이
            maxHeight: null, // 최대 높이
            lang: "ko-KR", //한글 설정
            placeholder: '게시글을 작성할 수 있다.', //placeholder 설정
            fontNames: ['sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체']
        })
    </script>
</div>
</html>