<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test-layout</title>
    <th:block th:replace="fragments/config"></th:block>

    <style>
        html{
            height: 100%;
            background: #5c636a;
        }

    </style>

</head>
<body>
    <div>test</div>
    <th:block th:replace="fragments/header"></th:block>
    <div layout:fragment="content"></div>
    <th:block th:replace="fragments/footer"></th:block>
</body>
</html>