<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project-B</title>
    <th:block th:replace="fragments/config"></th:block>
</head>
<body> <!-- 페이지 레이아웃이 들어갈 틀 작성 header - content - footer 순  -->
<th:block th:replace="fragments/header"></th:block>
<div layout:fragment="content" style="height: 100vh; background-color: #f0f1f2"></div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>